.DS_Store
.vscode/c_cpp_properties.json
.gitignore
.vscode/settings.json
.vscode/launch.json
aula_pratica_1/a.out
aula_pratica_1/ListaPalavrasENencrypted.txt
aula_pratica_1/ListaPalavrasPTdecrypted.txt
aula_pratica_1/ListaPalavrasENdecrypted.txt
aula_pratica_1/ListaPalavrasPTencrypted.txt
/module1/TestFilesCD/
/module1/Word_lists/
/module1/Output_Files/
/module1_c/input_files/
/module1_c/output_files/
